# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b7435b0637181cb706d53c500dae6be78f22a5f589c8218d8e53adb57463794d091c0bc9db644e4065d4ce966fe88d18af1a1b1d5ec0da802b504c5420b7121d

test:
  secret_key_base: 02e82905d79c958981b0f697caf80b2539989004231f61d1e0da01918487f7b784fc18fcd1e10213f0c8e104453fca8c9384d4f2e9fbd3356f2bf848794db16e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
